<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Modal</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container my-2">
 <h1>Employees List</h1> 
 	<form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
 	<div class="form-group">
	    <label for="name">Nama</label>
	    <input th:field="*{nama}"   type="text" class="form-control" id="name" placeholder="Enter nama">
	    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
	  </div>
	  <div class="form-group">
	    <label  for="tanggal">Tanggal Lahir</label>
	    <input th:field="*{tglLahirWeb}" type="date" class="form-control datepicker" id="tanggal" placeholder="Tanggal Lahir">
	  </div>
	  <div class="form-group">
	  	 <label for="status">Status</label>
		<select th:field="*{status}" id="status" class="form-select" aria-label="Default select example">
		  <option value="1">Aktif</option>
		  <option value="0">Tidak Aktif</option>
		</select>
	  </div>
	  
		<div class="form-group">
			<label for="nama">Group</label>
			<select th:field="*{groupId}"class="form-control" id="nama">
			    <option th:each="option : ${listGroup}" th:value="${option.id}" th:text="${option.nama}"></option>
			</select>
		</div>
		
		<div class="form-group">
			<label for="saldo">Saldo</label>
			<select th:field="*{saldoId}"class="form-control" id="saldo">
			    <option th:each="option : ${listSaldo}" th:value="${option.idSaldo}" th:text="${option.jenis}"></option>
			</select>
		</div>
 		<!--	<label for="name" value="Nama Karyawan" >
            <input id="name" type="text" th:field="*{nama}" placeholder="Nama Karyawan" class="form-control mb-4 col-4">

			
            <input name="tanggalLahir" type="date" th:field="*{tglLahir}" placeholder="Tanggal Lahir" class="form-control mb-4 col-4">
			
			
            <input type="text" th:field="*{status}" placeholder="Employee Email" class="form-control mb-4 col-4">-->

            <button type="submit" class="btn btn-info col-2"> Save Employee</button>
        </form>

        <hr>

        <a th:href="@{/employee}"> Back to Employee List</a>
 </div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

<script>
	$(function () {
	    $('.datepicker').datepicker({
	        format: 'dd-MM-yyyy'
	    });
	});
    $('#exampleModal1').on('show.bs.modal', function () {
        $.get("/modals/modal1", function (data) {
            $('#exampleModal1').find('.modal-body').html(data);
        })
    });

    $('#exampleModal2').on('show.bs.modal', function () {
        var name = prompt("Please enter your name", "John Doe");
        $.get("/modals/modal2?name=" + name, function (data) {
            $('#exampleModal2').find('.modal-body').html(data);
        })
    })
</script>

</body>
</html>