<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Modal</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container my-2">
 <h2>Update Employee</h2>
        <form action="#" th:action="@{/updateEmployee}" th:object="${employee}" method="POST">
         <input type="hidden" th:field="*{id}" />
 	<div class="form-group">
	    <label for="name">Nama</label>
	    <input th:field="*{nama}"   type="text" class="form-control" id="name" placeholder="Enter nama">
	    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
	  </div>
	 <!-- <div class="form-group">
	    <label  for="tanggal">Tanggal Lahir</label>
	       <input type="hidden" th:value="${#dates.format(employee.tglLahir, 'dd/MM/yyyy')}" id="tanggalLahir"/>
	    <input th:field="*{tglLahir}"type="date" class="form-control datepicker" id="tanggal" placeholder="Tanggal Lahir">
	  </div>-->
	  
 		<!--	<label for="name" value="Nama Karyawan" >
            <input id="name" type="text" th:field="*{nama}" placeholder="Nama Karyawan" class="form-control mb-4 col-4">

			
            <input name="tanggalLahir" type="date" th:field="*{tglLahir}" placeholder="Tanggal Lahir" class="form-control mb-4 col-4">
			
			
            <input type="text" th:field="*{status}" placeholder="Employee Email" class="form-control mb-4 col-4">-->

            <button type="submit" class="btn btn-info col-2"> Save Employee</button>
        </form>

        <hr>

        <a th:href="@{/employee}"> Back to Employee List</a>
 </div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

<script>
    $('#exampleModal1').on('show.bs.modal', function () {
        $.get("/modals/modal1", function (data) {
            $('#exampleModal1').find('.modal-body').html(data);
        })
    });

    $('#exampleModal2').on('show.bs.modal', function () {
        var name = prompt("Please enter your name", "John Doe");
        $.get("/modals/modal2?name=" + name, function (data) {
            $('#exampleModal2').find('.modal-body').html(data);
        })
    })
</script>

</body>
</html>